In [31]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline

In [39]:
raw = pd.read_csv ("potencias_2018.csv", header=0)

raw['date'] = pd.to_datetime (raw['data'])
raw = raw.set_index(raw.date)
raw = pd.DataFrame (raw['pa'] + raw['pb']+ raw['pc'], columns=['P'])

In [40]:
## Potência média durante a ponta (18:00 as 20:00)
ponta = raw.between_time('18:00:00', '19:59:59').resample('H').mean()

ponta
#todo: delete null values

                             P
date
2018-01-01 18:00:00  52.531869
2018-01-01 19:00:00  55.547832
2018-01-01 20:00:00        NaN
2018-01-01 21:00:00        NaN
2018-01-01 22:00:00        NaN
2018-01-01 23:00:00        NaN
2018-01-02 00:00:00        NaN
2018-01-02 01:00:00        NaN
2018-01-02 02:00:00        NaN
2018-01-02 03:00:00        NaN
2018-01-02 04:00:00        NaN
2018-01-02 05:00:00        NaN
2018-01-02 06:00:00        NaN
2018-01-02 07:00:00        NaN
2018-01-02 08:00:00        NaN
2018-01-02 09:00:00        NaN
2018-01-02 10:00:00        NaN
2018-01-02 11:00:00        NaN
2018-01-02 12:00:00        NaN
2018-01-02 13:00:00        NaN
2018-01-02 14:00:00        NaN
2018-01-02 15:00:00        NaN
2018-01-02 16:00:00        NaN
2018-01-02 17:00:00        NaN
2018-01-02 18:00:00  67.536744
2018-01-02 19:00:00  72.452551
2018-01-02 20:00:00        NaN
2018-01-02 21:00:00        NaN
2018-01-02 22:00:00        NaN
2018-01-02 23:00:00        NaN
...                        ...
2018-12-30 14:00:00        NaN
2018-12-30 15:00:00        NaN
2018-12-30 16:00:00        NaN
2018-12-30 17:00:00        NaN
2018-12-30 18:00:00  59.053310
2018-12-30 19:00:00  59.941275
2018-12-30 20:00:00        NaN
2018-12-30 21:00:00        NaN
2018-12-30 22:00:00        NaN
2018-12-30 23:00:00        NaN
2018-12-31 00:00:00        NaN
2018-12-31 01:00:00        NaN
2018-12-31 02:00:00        NaN
2018-12-31 03:00:00        NaN
2018-12-31 04:00:00        NaN
2018-12-31 05:00:00        NaN
2018-12-31 06:00:00        NaN
2018-12-31 07:00:00        NaN
2018-12-31 08:00:00        NaN
2018-12-31 09:00:00        NaN
2018-12-31 10:00:00        NaN
2018-12-31 11:00:00        NaN
2018-12-31 12:00:00        NaN
2018-12-31 13:00:00        NaN
2018-12-31 14:00:00        NaN
2018-12-31 15:00:00        NaN
2018-12-31 16:00:00        NaN
2018-12-31 17:00:00        NaN
2018-12-31 18:00:00  53.610360
2018-12-31 19:00:00  59.903901

[8738 rows x 1 columns]